
@{
    ViewBag.Title = "Products";
}

<div class="row">
    @if(Model.Items == null || Model.Items.Count == 0)
    {
        <img style="width:100%" class="text-center" src="https://cdn.wpml.org/wp-content/uploads/2015/02/555113-no_items_found.png" />
    }

    @foreach (var item in Model.Items)
    {
        <div class="col-3">
            <div class="card" style="width: 18rem; margin-top:8px;">
                <br />
                <img class="card-img-top" src="@(item.ItemImageUrl)" height="150" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center">@item.ItemName</h5>
                    <p class="card-text" style="text-align:center">@(item.ItemDescription.Length > 100 ? item.ItemDescription.Substring(0, 100) + "..." : item.ItemDescription) </p>


                    @if (item.InCartCount == 0)
                    {
                        if (item.Quantity > 0)
                        {
                            <a href="#" onclick="addItem('@item.ItemId')" class="btn btn-primary btn-block text-center" style="align-content:center">Add to Cart</a>

                        }
                        else
                        {
                            <p class="text-center text-danger">Out of stock</p>
                        }
                    }
                    else
                    {
                        <div class="" style="text-align: center;">
                            <input id="quantity" value="@item.InCartCount" type="number" />
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        $("#cartItemCount").html(@Model.InCartCount);
    });
    function addItem(itemId) {
        $.ajax({
            type: "POST",
            url: "/Cart/AddItem/" + itemId,
            timeout: 600000,
            processData: false,
            contentType: false,
            cache: false,
            success: function (data) {
                console.log(data);
                if (data != null) {
                    console.log(data);
                    window.location.href = "";
                }
                else {
                    alert("Something went wrong please try again");
                }
            },
            error: function (e) {
                alert("Something went wrong please try again");

            }
        });
    }

</script>

